version: "3.7"

services:
  db:
    environment:
      - POSTGRES_DB=library_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    image: postgres
    volumes:
      - ./postgres-data/var/lib/postgresql/data
    container_name: db
  
  app:
    build: 
      context: library_back/
      dockerfile: django.Dockerfile
    volumes:
      - ./library_back:/django
    ports:
      - 8000:8000
    image: app:django
    container_name: back
    depends_on:
      - db

  front:
    build:
      context: library_front/
      dockerfile: node.Dockerfile
    volumes:
      - ./library_front:/node
    ports:
      - 3000:3000
    depends_on:
      - db
    container_name: front
  
  nginx:
    build:
      context: nginx/
      dockerfile: nginx.Dockerfile
    ports:
      - 80:80
    depends_on:
      - front
    container_name: nginx
  
   
volumes:
  postgres_data:

# networks:
#   postgres:
#     driver: bridge