name: Django CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest

    container: python:3.8.10

    services:
      postgres:
        image: postgres
        ports:
          - 5433:5433
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: library_db
          POSTGRES_HOST_AUTH_METHOD: trust

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          cd library_back
          pip install -r requirements.txt

      - name: Migrate
        run: |
          cd library_back
          python manage.py makemigrations
          python manage.py migrate
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: library_db
          POSTGRES_HOST: db
          POSTGRES_PORT: 5432

      - name: Run Tests
        run: |
          python manage.py test
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: library_db
